Flask==2.2.3
Flask-Session==0.4.0
redis==4.5.4
Werkzeug==2.2.3
cryptography==39.0.2
PyJWT==2.6.0
pyotp==2.8.0
python-ldap==3.4.3
requests==2.28.2
python-dotenv==1.0.0
authlib==1.2.1
python-jose==3.3.0
pytest==7.0.1
pytest-cov==2.12.1
beautifulsoup4==4.12.3
types-beautifulsoup4==4.12.0.20240229
fakeredis==2.20.0
mock==5.1.0
itsdangerous==2.0.1
flask-cors==3.0.10 